*.pyc
misc/
**/bin/
**/bin-linux/
**/obj/
**/obj-linux/
**/.ionide
*.gif
*.xlsx
*.exe
2016/target/
**/node_modules/
2015/package-lock.json
input*.txt
inputs/
**/a.out
.vs/
**/Properties/launchSettings.json
**/dist/
